#body{
    background-color:rgb(20, 20, 19);
    color: white;
}
#header{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
}
#project
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.p{
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px 5px rgb(107, 107, 167);
    border-radius: 10px;
    margin: 50px;
    color: white;
}
.img
{
    width: 400px;
    height: 200px;
}
.logo
{
    width: 30px;
    height: 30px;
}